html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
}
.padded {
  padding: 25px;
}
md-content[ui-view='content'], md-content[ui-view='module'] {
  height: 95vh;
  overflow: hidden;
}
md-content[ui-view='content'] {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
[ui-view='status'] {
  position: relative;
  z-index: 10;
}
.hidden {
  visibility: hidden;
  position: absolute;
  display: none;
}
.md-48 {
  font-size: 48px;
}
.angular-center-container {
  background-color: rgba(0, 0, 0, 0.66);
}
.angular-centered h3 {
  color: white;
}
.title {
  overflow: hidden;
  max-height: 2.5em;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px rgb(107, 104, 104);
  font-weight: 500;
}
.statusLine {
  z-index: 20;
  width: 95%;
  overflow: hidden;
}

.statusLine.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

md-fab-speed-dial.md-scale.md-is-open .md-fab-action-item {
  -webkit-transform: scale(1);
          transform: scale(1);
}


md-list-item.done {
  background-color: #DCEDC8;
}
md-list-item.selected {
  background-color: #E3F2FD;
}
.searchbox md-input-container.md-has-icon {
  padding-left: 26px;
}
.searchbox {
  font-size: 14px;
}
.searchbox .search-icon {
  font-size: 18px;
}
.searchbox input{
  font-size: 15px;
  height: 25px;
}

md-list-item.md-3-line>.md-no-style .md-list-item-text h4.key-subheading {
  white-space: normal;
}

.actions-bottom-right {
  top: auto;
  right: 20px;
  bottom: 0;
  left: auto;
  position: fixed;
}
.actions-bottom-right md-fab-speed-dial.md-fab-bottom-right {
  right: 155px;
  bottom: 0;
}

.provider-logo {
  position: absolute;
  width: 150px;
  right: 30px;
  top: 40px;
}
.current-key-value h1,
.current-key-value a,
.current-key-value ul{
  display: none;
}
.centered {
  text-align: center;
}
.card-pill-icons .md-icon-button {
  padding: 0;
}
.material-icons.md-inactive {
  opacity: .4;
}
.md-button.no-transform {
  text-transform: none;
}
md-input-container.has-input-icon,
md-input-container.has-input-icon.md-has-icon {
  padding-left: 0;
}
md-input-container.has-input-icon input[type="text"] {
  padding-right: 30px;
}
md-input-container.has-input-icon .input-icon {
  position: absolute;
  right: -10px;
  top: -5px;
}
md-card.has-action-button {
  position: relative;
}
md-card.has-action-button .md-button.md-fab.md-fab-bottom-right {
  bottom: -15px;
}
md-content.has-footer {
  margin-bottom: 100px;
}
.md-dialog-content textarea {
  width: 100%;
  height: 150px;
}
