<!-- Dictionary view -->
<div layout="row">

  <!-- Keys List -->
  <div flex="30">
    <md-toolbar layout="column" class="md-hue-2">
      <div class="md-toolbar-tools">
        <span>Navitaire Keys</span>
      </div>
      <div class="md-toolbar-tools searchbox">
        <md-input-container md-no-float class="md-block">
          <md-icon class="search-icon">search</md-icon>
          <input ng-model="$ctrl.filterKeys" type="text" placeholder="Search...">
        </md-input-container>
        <md-checkbox ng-model="$ctrl.incompleteOnly" aria-label="Hide done">
          Hide complete
        </md-checkbox>
      </div>
    </md-toolbar>
    <md-content full-height scroll-to-element="entry{{$ctrl.selectedKey.keyPart}}">
      <md-list flex>
        <md-list-item class="md-3-line" ng-class="{'selected': $ctrl.selectedKey === entry, 'done': entry.done}"
            id="entry{{::entry.keyPart}}" ng-if="!$ctrl.incompleteOnly || !entry.done"
            ng-repeat="entry in $ctrl.dictionary.flatten | filter:{'keyPart': $ctrl.filterKeys}" ng-click="$ctrl.selectKey(entry)">

          <div class="md-list-item-text" layout="column">
            <h3>
              <md-icon>{{entry.done ? 'check_box' : 'check_box_outline_blank'}}</md-icon>
              {{ entry.keyPart }}
            </h3>
            <h4 class="key-subheading">{{ entry.title }}</h4>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <!-- Form -->
  <div flex layout-padding layout-align="center center" ng-if="!$ctrl.selectedKey" layout="column">
    <div class="md-headline">
      <md-icon>warning</md-icon>
      Please select the key from the left panel
      <p class="centered">
        <md-button ng-click="$ctrl.selectFirstUndone()">or go to the first incomplete key <md-icon>navigate_next</md-icon></md-button>
      </p>
    </div>
  </div>
  <md-content flex layout="column" ng-if="::$ctrl.selectedKey" layout-padding full-height>
    <!-- Provider -->
    <md-card>
      <img class="provider-logo" ng-if="$ctrl.selectedKey.logo" ng-src="{{$ctrl.selectedKey.logo}}" />
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{$ctrl.dictionary.hierarchical.navitaire.parking.provider.name[$ctrl.selectedKey.providerCode]}}</span>
          <span class="md-subhead">{{$ctrl.selectedKey.title}}</span>
          <span class="md-subhead">{{$ctrl.selectedKey.key}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-if="$ctrl.selectedKey.done">
          <md-tooltip md-direction="top">All pills have been set up</md-tooltip>
          <md-icon class="md-accent">check</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-if="!$ctrl.selectedKey.done" ng-click="$ctrl.doneOverride($ctrl.selectedKey)">
          <md-tooltip md-direction="top">Not all the pills have been set up</md-tooltip>
          <md-icon class="md-warn">error_outline</md-icon>
        </md-button>

        <!-- pills -->
        <md-button class="md-fab md-mini" ng-repeat="(pillKey, pillObj) in ::$ctrl.PILLS"
           ng-disabled="!$ctrl.getPill($ctrl.selectedKey, pillObj.val)"
           ng-click="$ctrl.showAlert(pillObj.label, $ctrl.getPill($ctrl.selectedKey, pillObj.val))">
          <md-icon>{{::pillObj.materialVal}}</md-icon>
        </md-button>

      </md-card-actions>
    </md-card>

    <!-- Pills -->
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-title">List items / Pills</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
          <div class="card-list-items" ng-repeat="listItem in $ctrl.selectedKey.listItems" layout="row">

            <md-input-container flex="70">
              <label>Item description</label>
              <input type="text" ng-model="listItem.text" required>
            </md-input-container>

            <md-input-container flex>
              <md-checkbox class="md-primary" ng-model="listItem.isPill" aria-label="Pill" ng-change="$ctrl.onPillStatusChanged(listItem)">
                <span>Pill</span>
              </md-checkbox>
            </md-input-container>

            <div flex layout="row" layout-padding class="card-pill-icons">
              <md-button class="md-icon-button" ng-repeat="(pillKey, pillObj) in ::$ctrl.PILLS" ng-click="$ctrl.assignPillIcon(listItem, pillObj.val)">
                <md-tooltip md-direction="top">Make this a "{{::pillObj.label}}" pill</md-tooltip>
                <md-icon ng-class="{'md-primary': listItem.pillIcon === pillObj.val, 'md-inactive': listItem.pillIcon !== pillObj.val}">{{::pillObj.materialVal}}</md-icon>
              </md-button>
            </div>

          </div>

      </md-card-content>
    </md-card>
  </md-content>



  <!-- actions -->
  <div layout="row" layout-align="end start" layout-margin>
    <div class="actions-bottom-right">
      <md-button class="md-fab  md-scale md-primary" aria-label="Next"
                 ng-click="$ctrl.prevKey()" ng-disabled="$ctrl.isPrevDisabled()">
        <md-tooltip md-direction="left">Prev key</md-tooltip>
        <md-icon>arrow_back</md-icon>
      </md-button>

      <md-button class="md-fab md-scale" aria-label="Next" ng-class="{'md-primary': !$ctrl.selectedKey.done, 'md-accent': $ctrl.selectedKey.done}"
                 ng-click="$ctrl.nextKey()" ng-disabled="$ctrl.isNextDisabled()">
        <md-tooltip md-direction="top">Next key</md-tooltip>
        <md-icon>arrow_forward</md-icon>
      </md-button>

    </div>
  </div>
</div>
