<!-- Loading view -->
<div layout-padding>
  <div flex layout-fill layout="column" ng-cloak>
    <p>Select dictionary environment: </p>
    <md-radio-group ng-model="$ctrl.selectedEnv">
      <div ng-repeat="env in $ctrl.environments" layout="row">
        <md-radio-button ng-value="env" class="md-primary">{{env.name}}</md-radio-button>
        <md-button class="md-icon-button" ng-click="$ctrl.deleteTempEnv(env)" ng-if="::env.temp">
          <md-tooltip md-direction="top">Discard changes</md-tooltip>
          <md-icon class="md-warn">delete</md-icon>
        </md-button>
      </div>
    </md-radio-group>
    <p>
      <svg tabindex="-1" focusable="false" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.ryanair.com/ie/en/ryanair-logomark#ryanair-logomark"></use></svg>
      or
      <loading-button loading="$ctrl.loading" class="inline-loading" diameter="60">
        <md-button class="md-raised" ng-show="!$ctrl.loading" ng-click="$ctrl.loadFile()">
          import xliff file
        </md-button>
      </loading-button>
    </p>
  </div>

  <!-- actions -->
  <div layout="row" layout-align="end start" layout-margin>
    <div class="actions-bottom-right">
      <loading-button loading="$ctrl.loading" diameter="80">
        <md-button class="md-fab md-scale md-primary" aria-label="Load" ng-click="$ctrl.load()"
           ng-disabled="!$ctrl.selectedEnv">
          <md-tooltip md-direction="left">Load dictionary</md-tooltip>
          <md-icon>get_app</md-icon>
        </md-button>
      </loading-button>
    </div>
  </div>
</div>
